body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

center {
  margin-top: 200px;
}

h1 {
  color: #333333;
}

#start {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
